/* 3D effect for dashboard title */
.three-d-title {
		color: #111827;
		font-weight: 800;
		letter-spacing: 2px;
		text-shadow: 2px 2px 6px #88888833;
		text-transform: uppercase;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 16px;
}
